/* ====================== ШРИФТИ =============================== */

/* ----------------- Підключення шрифтів ----------------------- */

/* ----------------- підключаємо шрифт Roboto */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* ----------------- підключаємо шрифт Lato з OnlineCourse */
/*
1. Lato Bold - 640
2. Lato Regular - 615
3. Lato Black - 117 
*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* ----------------- підключаємо Poiret - Кириллические шрифт - 400*/

@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/* ----------------- підключаємо шрифт Larsseit з ThriveTalk */
/*
1. Larsseit Medium - 2
2. Larsseit Regular - 23
3. Larsseit Bold - 27
*/

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Larsseit.woff2") format("woff2"),
    url("../fonts/Larsseit/Larsseit.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Larsseit-Medium.woff2") format("woff2"),
    url("../fonts/Larsseit/Larsseit-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit/Larsseit-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/* ----------------- підключаємо шрифт CircularStd */

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd/CircularStd-Book.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Book.woff") format("woff");
  font-display: swap;
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd/CircularStd-BookItalic.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-BookItalic.woff") format("woff");
  font-display: swap;
  font-weight: 350;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd/CircularStd-Medium.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd/CircularStd-Bold.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd/CircularStd-Black.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Black.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

/* ----------------- */
